.content-wrapper {
    padding: 1% 10%;
}
.right {
    color: #fff;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.left img {
    width: 75%;
    height: auto;
}

.about-spacer {
    padding: 15%;
}

@media screen and (min-width: 20rem) {
    .left,
    .right {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 70rem) {
    .left {
        float: left;
        width: 50%;
    }
}

/* iPad */
@media screen and (min-device-width: 1024px) {
    .left img {
        width: 50%;
        height: auto;
    }
    .about-spacer {
        padding: 5%;
    }
}

/* Desktops */
@media screen and (min-device-width: 1341px) {
    .left img {
        width: 75%;
        height: auto;
    }
    .content-wrapper {
        padding: 5% 20%;
    }
    #floated {
        float: left;
    }
}
